/*
 CSS !IMPORTANT - In order to simulate designing a web inside of a web
 we need specific classes and ids that can never be chosen but keep their
 CSS rules no matter what you write inside of  <div id="FEFBEoutput"></div>
*/
* {
  box-sizing: border-box;
}
body {
  max-width: 2560px !important;
  margin: 0 auto !important;
}

#FEFBEseparator {
  display: grid !important;
  grid-template-columns: auto 10px 1500px !important;
  gap: 0 !important;
  align-items: start !important;
}

/* CSS for Editor Menu (The HTML + CSS Tabs) Sidebar */
#FEFBEeditor {
  border: 1px solid #ccc !important;
  background-color: #f1f1f1 !important;
}
.FEFBEtabButtons {
  background-color: #f1f1f1;
  border: none !important;
  outline: none !important;
  cursor: pointer !important;
  padding: 14px 16px !important;
  font-weight: bold !important;
}
.FEFBEtabButtons:hover,
.FEFBEtabButtons:focus {
  background-color: #ddd !important;
}
.FEFBEtabButtons.active {
  background-color: #ccc !important;
}

#FEFBEhtml,
#FEFBEcss {
  background-color: white !important;
  padding: 1rem !important;
}

#FEFBEcss {
  display: none;
}

#FEFBEverticalLine {
  width: 10px !important;
  height: 100% !important;
  background-color: #f1f1f1 !important;
  border: 1px solid #ccc !important;
  overflow: hidden !important;
}

#FEFBEoutputHeader {
  width: 100% !important;
  border: 1px solid #ccc !important;
  background-color: #f1f1f1 !important;
  height: 48px !important;
  font-weight: bold !important;
  font-size: 20px !important;
  cursor: not-allowed !important;
}

#FEFBEoutput {
  max-width: 100% !important;
}

/* CSS for Forms & Input (When choosing HTML & CSS) */
.FEFBEfieldsets {
  margin-top: 1rem !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  gap: 10px !important;
  border-radius: 5px !important;
}
.FEFBElegends:hover {
  cursor: pointer !important;
}
.FEFBElegend-siblings-hidden ~ * {
  display: none;
}
.FEFBElabels,
.FEFBElegends {
  font-weight: bold !important;
}
#FEFBEselectAppendStyle,
#FEFBEchosenHTMLElement,
.FEFBEinputs {
  background-color: white !important;
  width: 150px !important;
  padding: 0.3rem !important;
  border: 2px solid #ccc !important;
  border-radius: 5px !important;
  height: 40px !important;
  font-size: 1rem !important;
}
#FEFBEselectAppendStyle {
  cursor: pointer !important;
}
.FEFBEoptions {
  cursor: pointer !important;
}

.FEFBEsaveElements,
.FEFBEdelElements {
  color: white !important;
  padding: 0.4rem !important;
  border: 0 !important;
  border-radius: 5px !important;
  font-size: 0.9 !important;
  font-weight: bold !important;
}
.FEFBEdelElements {
  background-color: red !important;
}
.FEFBEsaveElements {
  background-color: green !important;
}

.FEFBEsaveElements:hover,
.FEFBEsaveElements:focus,
.FEFBEdelElements:hover,
.FEFBEdelElements:focus {
  cursor: pointer !important;
  filter: brightness(133%) !important;
}

#FEFBEplus {
  vertical-align: sub !important;
  display: inline-block !important;
  font-size: 1.9rem !important;
  font-weight: bold !important;
  width: 44px !important;
  background-color: green !important;
  padding: 0.3rem !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  color: white !important;
  text-align: center !important;
}

#FEFBEplus:hover,
#FEFBEplus:focus {
  filter: brightness(133%) !important;
}

#FEFBEcheckbox {
  vertical-align: middle !important;
  height: 30px !important;
  width: 30px !important;
}

/* Make active fieldset (element in HTML Tab) green so you know where you will insert next element in relation to. */
.FEFBEactiveFieldset {
  border: 3px solid green !important;
}

/* CSS Animation effect
when copying CSS & HTML */
.FEFBEcopied {
  animation-name: FEFBEcopied !important;
  animation-duration: 3s !important;
  animation-iteration-count: 1 !important;
  animation-direction: normal !important;
}
@keyframes FEFBEcopied {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}
